#header{
  background-color:#FFF0F7;
  position:absolute;
  top:0px;
  left: 0px;
  right:0px;
  width:100%;
  height:38%;
}
#switzerland{
  position:absolute;
  width:35em;
  height:12em;
  top:0em;
  left:50%;
}
#navigation{
  position:relative;
  top:12.5em;
  left:0em;
  right:10em;
}
#navigation a{
  color:#E55D68;
  display:inline-block;
  margin-left:14.5%;
  text-decoration:none;
  cursor:auto;
}
#center{
  background-color:#EDFFFF;
  position:absolute;
  width:100%;
  height:55%;
  top:14.5em;
  left:0px;
  right:0px;
}
#aboutme{
  position:absolute;
  border:2px solid white;
  background-color:white;
  width:55%;
  height:47%;
  right:5px;
  top:5px;
}
h1{
  font-size:150%;
}
#recentblogs{
  position:absolute;
  border:2px solid #D3F8D7;
  background-color:white;
  height:43%;
  top:190px;
  right:5px;
  left:5px;
}
p a{
  color:green;
}
#footer{
  background-color:#C2E4D8;
  position:absolute;
  width:100%;
  height:7%;
  top:36.3em;
  left:0px;
  right:0px;
}